@import url('http://fonts.cdnfonts.com/css/the-amazing-spider-man');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
  background-image: url("img/montex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.content{
background-color: rgba(0,0,0,0.5);
align-self: center;
}

.time{
  font-size: 4em;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.title{
  font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 15vw;
  margin-bottom: 0;
}
